name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT
        run: |
          java -jar ./artifacts/app-replan-delivery.jar &
          echo "Waiting for SUT on port 9999..."
          for i in {1..20}; do
            if nc -z localhost 9999; then
              echo "SUT is up!"
              break
            fi
            sleep 1
          done

      - name: Run tests
        run: ./gradlew test -Dselenide.headless=true --info


